.page {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stepperWrapper {
  margin-top: 15px;
}

.stepContent {
  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: var(--slate-0);
  border-radius: var(--radius-sm);
  border: 1px solid var(--slate-200);

  padding: 15px 20px;
  margin: 30px 0;
  gap: 18px;

  overflow-y: visible;
}

.stepHeader > h1 {
  font-size: var(--font-base);
  font-weight: 600;
  color: var(--primary);
  line-height: 20px;
}

.stepHeader > p {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--slate-500);
}

.stepActions {
  display: flex;
  border-radius: var(--radius-sm);
  overflow: hidden;
  background-color: var(--slate-200);
  padding: 8px;
  gap: 10px;
  font-size: var(--font-sm);
  font-weight: 500;
}

.stepActions > :first-child,
.stepActions > :last-child {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  font-size: var(--font-sm);
  cursor: pointer;
  border-radius: var(--radius-md);
}

.stepActions [data-active="true"] {
  background-color: var(--slate-0);
  color: var(--slate-900);
}

.stepActions [data-active="false"] {
  color: var(--slate-700);
}

.stepForm {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.stepFormInput {
  max-width: 100% !important;
}

.addDocBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.addDocBtnContainer > p {
  color: var(--slate-500);
  font-size: var(--font-sm);
  font-weight: 400;
}

.addDocBtn {
  background-color: transparent;
  border: 1px solid var(--secondaryL);
  color: var(--slate-500);
  margin-top: 20px;
  height: 55px;
  font-size: var(--font-sm);
  transition: all 0.2s ease;
  width: 200px;
  height: 44px;
}

.addDocBtn:hover {
  background-color: var(--primaryD);
  color: var(--slate-0);
}

.addIcon {
  width: 18px;
  height: 18px;
  color: var(--slate-500);
  transition: all 0.2s ease;
}

.addDocBtn:hover .addIcon {
  width: 19px;
  height: 19px;
  color: var(--slate-0);
}

.stepFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 38px;
}

.stepFooter > :last-child {
  color: var(--slate-0);
}

/** modal */

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/** Document row */

.documentRows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.documentRows > :only-child {
  grid-column: span 2;
}

.documentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 18px;
  border: 1px solid var(--secondaryL);
  border-radius: var(--radius-sm);
  background-color: var(--slate-0);

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.documentRowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.documentRowHeader > p {
  color: var(--primaryD);
  font-size: var(--font-sm);
}

.documentLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}

.documentLetterBadge {
  width: 38px;
  height: 38px;
  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-base);
  font-weight: 600;
  text-transform: uppercase;
}

.requiredBadge {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
}

.optionalBadge {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
}

.documentInfo {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.documentName {
  font-size: var(--font-base);
  font-weight: 600;
  color: var(--primary);
}

.documentMeta {
  background: none;
  border: none;
  padding: 0;

  font-size: var(--font-xs);
  text-align: left;
  color: var(--slate-500);
  font-weight: 400;
}

.documentRowActions {
  display: flex;
  gap: 15px;
}

.documentRowActions > button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.editButtonContainer,
.deleteButtonContainer {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-sm);
  transition: background-color 0.2s ease, color 0.2s ease;

  cursor: pointer;
}

.deleteButton {
  color: var(--negative);
  width: 15px;
  height: 15px;
}

.editButtonContainer {
  background-color: var(--neutralL);
  color: var(--neutralD);
}

.deleteButtonContainer {
  background-color: var(--negativeL);
  color: var(--negativeD);
}

.editButton {
  color: var(--neutral);
}

/** Review and Send */

.reviewForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 10px;
}

.checklistReview {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.checklistReview > :first-child {
  color: var(--primary);
  font-size: var(--font-base);
  font-weight: 600;
}

.checklistItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--slate-50);
  padding: 10px;
  border-radius: var(--radius-sm);
}

.checklistItem > :first-child {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checklistItem > p {
  font-size: var(--font-base);
  font-weight: 500;
  color: var(--primary);
}

.squareDot {
  color: var(--slate-400);

  width: 22px;
  height: 22px;
  stroke-width: 2px;
}

.checklistItem > :last-child {
  background-color: var(--slate-200);
  color: var(--primaryD);
  font-size: var(--font-xs);
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: var(--radius-xs);
  padding: 2px 10px;
}

.sendingNote {
  background-color: var(--neutralL);
  color: var(--primaryD);
  font-size: var(--font-sm);
  border-radius: var(--radius-sm);
  padding: 10px;
}

.sendingNote > span {
  color: var(--primary);
  font-weight: var(--fw-semibold);
}
