.pageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pageHeader {
  color: var(--slate-950);
  font-size: 26px;
  font-weight: 700;
}

.pageDescription {
  color: var(--slate-600);
  font-size: var(--font-base);
  font-weight: 500;
}

.button {
  width: 185px;
  gap: 18px !important;
}
