.page {
  display: flex;
  flex-direction: column;
  grid-area: 12px;
}

.stepperWrapper {
  margin-top: 42px;
}

.stepContent {
  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: var(--slate-0);
  border-radius: var(--radius-sm);
  border: 1px solid var(--slate-200);

  padding: 15px 20px;
  margin: 30px 0;
}

.stepHeader > h1 {
  font-size: var(--font-base);
  font-weight: 600;
  color: var(--primary);
}

.stepHeader > p {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--slate-500);
}

.stepActions {
  display: flex;
  margin-top: 15px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--slate-100);
  padding: 8px;
  gap: 10px;
  font-size: var(--font-sm);
  font-weight: 500;
}

.stepActions > :first-child,
.stepActions > :last-child {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  font-size: var(--font-sm);
  cursor: pointer;
  border-radius: 10px;
}

.stepActions [data-active="true"] {
  background-color: var(--slate-900);
  color: var(--slate-0);
}

.stepActions [data-active="false"] {
  color: var(--slate-500);
}

.stepForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.stepFormInput {
  max-width: 100% !important;
}

.addDocBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.addDocBtnContainer > p {
  color: var(--slate-500);
  font-size: var(--font-sm);
  font-weight: 400;
}

.addDocBtn {
  background-color: transparent;
  border: 1px solid var(--slate-200);
  color: var(--slate-500);
  margin-top: 40px;
  height: 55px;
  font-size: var(--font-sm);
  transition: all 0.2s ease;
  width: 200px;
  height: 44px;
}

.addDocBtn:hover {
  background-color: var(--slate-800);
  color: var(--slate-0);
}

.addIcon {
  width: 18px;
  height: 18px;
  color: var(--slate-500);
  transition: all 0.2s ease;
}

.addDocBtn:hover .addIcon {
  width: 19px;
  height: 19px;
  color: var(--slate-0);
}

.stepFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 70px;
}

.stepFooter > :last-child {
  color: var(--slate-0);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
