.page {
  background-color: var(--slate-100);
  min-height: 100vh;
  width: 100%;
}

.headerContainer {
  background-color: var(--slate-0);
  border-bottom: 1px solid var(--slate-300);
}

.header {
  max-width: 860px;
  margin: 0 auto;
  padding: 24px 20px;

  display: flex;
  align-items: center;
}

.body {
  max-width: 860px;
  margin: 0 auto;
  padding: 24px 20px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.user {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user > p {
  color: var(--slate-500);
  font-size: var(--font-xs);
  font-weight: 400;
}

.user > p > span {
  color: var(--slate-800);
  font-size: var(--font-xs);
  font-weight: 500;
}

.title {
  color: var(--slate-900);
  font-size: var(--font-3xl);
  font-weight: 600;
}

.description {
  color: var(--slate-500);
  font-size: var(--font-sm);
  font-weight: 400;
}

.sent {
  color: var(--slate-500);
  font-size: var(--font-xs);
  font-weight: 400;

  display: flex;
  gap: 6px;
}

.disclosure {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: var(--slate-200);
  padding: 10px;
  border-radius: var(--radius-sm);
}

.disclosure > p {
  font-size: var(--font-xs);
  font-weight: 400;
  color: var(--slate-600);
}

.disclosure > p > span {
  font-size: var(--font-xs);
  font-weight: 500;
  color: var(--slate-900);
}

.progressRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressLabel {
  font-size: var(--font-sm);
  font-weight: var(--fw-medium);
  color: var(--slate-700);
}

.docCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px dashed var(--slate-300);
  border-radius: var(--radius-md);
  padding: 14px 16px;
  background-color: var(--slate-0);
}

.docInfo {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.docTitle {
  font-size: var(--font-sm);
  font-weight: var(--fw-medium);
  color: var(--slate-900);
}

.docTitle span {
  margin-left: 6px;
  font-size: var(--font-xs);
  color: var(--negative);
  font-weight: var(--fw-medium);
  letter-spacing: 0.5px;

}

.docHint {
  font-size: var(--font-xs);
  color: var(--slate-500);
  margin-top: 8px;
}
