.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--slate-100);
}

.sidebar {
  width: 260px;
  background-color: var(--slate-0);
  border-right: 1px solid var(--slate-200);

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  gap: 10px;

  border-bottom: 1px solid var(--slate-200);

  margin: 0 -20px 32px -20px;
  padding: 0 20px 18px 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 9px 12px;
  border-radius: 8px;

  color: var(--slate-600);
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-sm);

  transition: background-color 0.2s ease, color 0.2s ease;
}

.navItem:not(.active):hover {
  background-color: var(--slate-75);
  color: var(--slate-800);
}

.active {
  background-color: var(--slate-150);
  color: var(--slate-900);
}

.chevron {
  flex-shrink: 0;
  margin-left: auto;
  color: var(--slate-600);
}

.chevron:hover {
  color: var(--slate-900);
}

.navIcon {
  flex-shrink: 0;
}

.sidebarFooter {
  border-top: 1px solid var(--slate-200);
  display: flex;
  flex-direction: column;

  margin: 0 -20px 0 -20px;
  padding-left: 24px;
  padding-top: 15px;

  gap: 20px;
}

.userName {
  font-size: var(--font-sm);
  font-weight: 600;
  color: var(--slate-900);
}

.userEmail {
  font-size: var(--font-xs);
  color: var(--slate-500);
}

.logout {
  background: none;
  border: none;
  padding: 0;
  color: var(--slate-600);
  cursor: pointer;
  font-size: var(--font-sm);

  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 600;
}

.logout:hover {
  color: var(--slate-900);
}

/* Main Content */
.content {
  flex: 1;
  padding: 32px;
  background-color: var(--slate-100);
}
