.layout {
  display: flex;
  height: 100vh;
  background-color: var(--slate-100);
}

.sidebar {
  width: 260px;
  height: 100vh;
  background-color: var(--slate-0);
  border-right: 1px solid var(--slate-200);

  display: flex;
  flex-direction: column;
  padding: 20px;

  overflow: hidden;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  gap: 10px;

  border-bottom: 1px solid var(--slate-200);

  margin: 0 -20px 18px -20px;
  padding: 0 20px 18px 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 9px 12px;
  line-height: 19px;
  border-radius: var(--radius-sm);

  color: var(--primaryD);
  text-decoration: none;
  font-weight: var(--fw-medium);
  font-size: var(--font-sm);

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.navItem:hover {
  background-color: var(--primaryL);
  color: var(--primary);
}

.active {
  background-color: var(--primaryL);
  color: var(--primary);
}

.chevron {
  flex-shrink: 0;
  margin-left: auto;
  color: var(--primaryD);
}

.chevron:hover {
  color: var(--primary);
}

.navIcon {
  flex-shrink: 0;
}

.sidebarFooter {
  border-top: 1px solid var(--secondaryL);
  display: flex;
  flex-direction: column;

  margin: 0 -20px 0 -20px;
  padding-left: 24px;
  padding-top: 15px;

  gap: 15px;
}

.userName {
  font-size: var(--font-sm);
  font-weight: var(--fw-semibold);
  color: var(--primary);
  line-height: 20px;
}

.userEmail {
  font-size: var(--font-xs);
  color: var(--secondary);
  line-height: 18px;
}

.logout {
  background: none;
  border: none;
  padding: 0;
  color: var(--secondary);
  cursor: pointer;
  font-size: var(--font-sm);

  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: var(--fw-medium);
}

.logoutIcon {
  color: var(--secondary);
}

.logoutIcon:hover {
  color: var(--primary);
}

.logout:hover {
  color: var(--primary);
}

/* Main Content */
.content {
  flex: 1;
  padding: 36px;
  background-color: var(--primaryL);
  overflow-y: auto;
}
