.container {
  background-color: var(--slate-75);
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 420px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.header > h1 {
  font-size: var(--font-3xl);
  font-weight: var(--fw-semibold);
}

.header > p {
  font-size: var(--font-sm);
  color: var(--text-secondary);
}

.button {
  width: var(--w-btn-xxl);
  margin-top: 14px;
  font-size: var(--font-sm);
  font-weight: 500;
}
