.topRightLogo {
  position: absolute;
  top: 14px;
  right: 14px;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 8px;
  max-width: var(--w-btn-xxl);

  color: var(--slate-600);
  font-size: var(--font-sm);
}

.switch > :last-child {
  color: var(--slate-950);
  font-weight: 500;
}
