/** login form */
.loginContainer {
  background-color: var(--slate-75);
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  max-width: 420px;
}

.badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.header > h1 {
  font-size: var(--font-2xl);
  font-weight: var(--fw-semibold);
}

.header > p {
  font-size: var(--font-sm);
  color: var(--text-secondary);
}

.button {
  max-width: var(--w-btn-xxl);
  margin-top: 8px;
  font-size: var(--font-sm);
  font-weight: 500;
  height: 48px;
}

/** login info page */

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  gap: 32px;
  max-width: 580px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: var(--font-3xl);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  color: var(--text-primary);
}

.subtitle {
  font-size: var(--font-base);
  line-height: var(--lh-normal);
  color: var(--text-secondary);
}

.featureList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.featureItem {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 23px;
  height: 23px;
  border-radius: 999px;

  background-color: var(--slate-300);
  color: var(--text-secondary);
  flex-shrink: 0;
}

.featureText {
  font-size: var(--font-sm);
  line-height: var(--lh-normal);
  color: var(--text-primary);
}

.trustedCard {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 18px 12px 18px 12px;
  gap: 15px;
  margin-top: 20px;

  max-width: 580px;
  background-color: var(--slate-0);
  border: 1px solid var(--slate-200);
  border-radius: var(--radius-md);
}

.trustedCardInfo > :first-child {
  color: var(--text-secondary);
  font-size: var(--font-xs);
  font-weight: 500;
}

.trustedCardInfo > :last-child {
  color: var(--text-primary);
  font-size: var(--font-sm);
  font-weight: 400;
}

.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 12px;

  color: var(--slate-600);
  font-size: var(--font-sm);
}

.signup > span {
  color: var(--slate-900);
  font-weight: 500;
}
