.persona {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-weight: var(--fw-semibold);
  flex-shrink: 0;
}

.sm .avatar {
  width: 32px;
  height: 32px;
  font-size: var(--font-xs);
}

.md .avatar {
  width: 40px;
  height: 40px;
  font-size: var(--font-sm);
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: var(--font-sm);
  font-weight: var(--fw-medium);
  color: var(--primaryD);
}

.subText {
  font-size: var(--font-xs);
  color: var(--slate-500);
  line-height: 16px;
}

.slate {
  background-color: var(--slate-800);
  color: var(--slate-0);
}

.amber {
  background-color: #fffbeb;
  color: #92400e;
}

.neutral {
  background-color: var(--neutralL);
  color: var(--info);
}
