/** root */

.logo {
  display: inline-flex;
  align-items: center;
  gap: var(--space-3);
}

/** icon wrapper */

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-md);
  background: var(--brand-primary);
  transition: transform var(--transition-fast);
}

.icon {
  color: var(--text-inverse);
}

/** diamond mode (icon only) */

.diamond .icon-wrapper {
  transform: rotate(45deg);
}

.diamond .icon {
  transform: rotate(-45deg);
}

/** text */

.text-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.text-brand {
  font-weight: var(--fw-bold);
  color: var(--text-primary);
  line-height: 1;
}

.text-description {
  font-weight: var(--fw-medium);
  color: var(--text-secondary);
  line-height: 1;
  font-size: var(--text-sm);
}

/** sizes */

.sm .icon-wrapper {
  width: 27px;
  height: 28px;
}

.sm .text-brand {
  font-size: var(--text-base);
}

.md .icon-wrapper {
  width: 35px;
  height: 36px;
}

.md .text-brand {
  font-size: var(--text-lg);
}

.lg .icon-wrapper {
  width: 43px;
  height: 44px;
}

.lg .text-brand {
  font-size: var(--text-xl);
}

.xl .icon-wrapper {
  width: 49px;
  height: 50px;
}

.xl .text-brand {
  font-size: var(--text-2xl);
}

.\32xl .icon-wrapper {
  width: 60px;
  height: 60px;
}

.\32xl .text-brand {
  font-size: var(--text-3xl);
}
