.logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: var(--radius-lg);
  background: var(--primary);
}

.icon {
  color: var(--slate-0);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text {
  font-weight: 700;
  color: var(--text-primary);
  line-height: 1;
  font-size: var(--font-base);
}

.description {
  font-weight: 500;
  color: var(--slate-600);
  line-height: 1;
  font-size: var(--font-sm);
}

.textBrand {
  font-size: var(--font-base);
}

.sm .iconWrapper {
  width: 30px;
  height: 31px;
  border-radius: var(--radius-xs);
}

.sm .textBrand {
  font-size: var(--font-md);
}

.md .iconWrapper {
  width: 38px;
  height: 38px;
  border-radius: var(--radius-md);
}

.md .textBrand {
  font-size: 18px;
}

.lg .iconWrapper {
  width: 41px;
  height: 42px;
  border-radius: var(--radius-md);
}

.lg .textBrand {
  font-size: var(--font-xl);
}
