.settingsContainer {
  max-width: var(--w-card-lg);
  margin: 0 auto;
  width: 100%;
}

.section {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.sectionTitle {
  color: var(--slate-900);
  font-size: var(--font-base);
  font-weight: 600;
}

.sectionDescription {
  color: var(--slate-600);
  font-size: var(--font-xs);
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 14px;
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
