.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backContainer {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 10px;
}

.backContainer > :first-child {
  cursor: pointer;
}

.backContainer > :last-child {
  font-size: var(--font-sm);
  color: var(--slate-900);
  font-weight: 500;
  cursor: pointer;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header {
  color: var(--slate-950);
  font-size: 25px;
  font-weight: 700;
}

.description {
  color: var(--slate-600);
  font-size: var(--font-base);
  font-weight: 500;
}
