.container {
  display: flex;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--slate-0);
}

.left,
.right {
  box-sizing: border-box;
  display: flex;
}

.left {
  justify-content: center;
  align-items: center;
  background-color: var(--slate-50);
}

.right {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-100);
  border-left: 1px solid var(--slate-200);
}

.left[data-type="login"] {
  padding: 0 64px;
  flex: 0 0 65%;
}

.right[data-type="login"] {
  padding: 0 48px;
  flex: 0 0 35%;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left {
    display: none;
  }

  .right {
    flex: 1;
    width: 100%;
    padding: 28px;
    border-left: none;
  }
}
