.container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--slate-0);
}

.left {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 64px;
  background-color: var(--slate-50);
}

.right {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 48px;
  background-color: var(--slate-100);
  border-left: 1px solid var(--slate-200);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    padding: 28px;
  }

  .left {
    display: none; /* hide info on small screens */
  }
}
