.container {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
  margin-top: var(--space-2);
}

/*  */

.tabs {
  display: flex;
  gap: var(--space-8);
  border-bottom: 1px solid var(--border-default);
}

/*  */

.tab {
  position: relative;
  padding: var(--space-3) 0;

  font-size: var(--text-sm);
  font-weight: var(--fw-medium);
  color: var(--text-tertiary);

  cursor: pointer;

  transition: color var(--transition-fast);
}

.tab:hover {
  color: var(--text-primary);
}

/*  */

.isActive {
  color: var(--text-primary);
  font-weight: var(--fw-semibold);
}

.isActive::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  height: 2px;
  width: 100%;

  background-color: var(--brand-primary);
  border-radius: var(--radius-full);
}
